@import "tailwindcss";

:root {
   --background: #17082A;
   --primary:  #210F37;
   --yellow: #F79E44;
   
   /* Theme colors */
   @theme {
    --color-black: #000000;
   --color-white: #FFFFFF;
   --color-background: var(--background);
   --color-primary: var(--primary);
   --color-yellow: var(--yellow);
   }
}

